/*
COLOR SCHEME:
blue: #1C8CBC;
lightblue: #8EC6DE;
green: #1CBC1C;
lightgreen: #8EDE8E;
yellow: #BCBC1C;
lightyellow: #DEDE8E;
brown: #BC8C1C;
lightbrown: #DEC68E;
red: #BC1C1C;
lightred: #DE8E8E;
darkgray: #535353;
grey: #8C8C8C;
lightgray: #C6C6C6;
lightergray: #E2E2E2;

1C /  28 -> 8E / 142
BC / 188 -> DE / 222
8C / 140 -> C6 / 198
*/
* {
	margin:0px;
	padding:0px;
	border:0px;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	padding:5px 10px 10px 5px;
	font:14px 'Tahoma',sans-serif;
	color:black;
}

h1 {
	font:bold 2em 'Futura','Tahoma',sans-serif;
	margin-top:10px;
	margin-bottom:10px;
}

h2 {
	font: bold 20px 'Futura','Tahoma',sans-serif;
	color: #535353;
	display:inline-block;
	vertical-align:middle;
}

h3 {
	font:bold 14px 'Futura','Tahoma',sans-serif;
	display:inline-block;
	margin-left:5px;
	margin-right:10px;
	max-width: 300px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}

h4 {
	font:bold 14px 'Futura','Tahoma',sans-serif;
	margin-left:2px;
}

li.method.get h4, li.method.head h4, li.method.options h4 {
	color: white;
}

div.resource, div.entity {
	border:1px solid #8C8C8C;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #E2E2E2;
	background: linear-gradient(#E2E2E2,#8C8C8C);
	padding: 3px;
	margin-top: 8px;
}

p {
	margin:5px auto;
}

p.basepath {
	font-family: 'Consolas','Lucida Console',monospace;
}

li.method {
	border:1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:5px;
	list-style-type: none;
	padding: 2px 5px 2px 2px;
}

li.method.get, li.method.head, li.method.options {
	border-color: #1C8CBC;
	background-color: #8EC6DE;
	background: linear-gradient(#8EC6DE,#1C8CBC);
}

li.method.post {
	border-color: #1CBC1C;
	background-color: #8EDE8E;
	background: linear-gradient(#8EDE8E,#1CBC1C);
}

li.method.put {
	border-color: #BCBC1C;
	background-color: #DEDE8E;
	background: linear-gradient(#DEDE8E,#BCBC1C);
}

li.method.patch {
	border-color: #BC8C1C;
	background-color: #DEC68E;
	background: linear-gradient(#DEC68E,#BC8C1C);
}

li.method.delete {
	border-color: #BC1C1C;
	background-color: #DE8E8E;
	background: linear-gradient(#DE8E8E,#BC1C1C);
}

span.methodtype {
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline-block;
	padding:1px 2px;
	font: 14px bold 'Consolas','Lucida Console',monospace;
	color:white;
	vertical-align: middle;
}
span.methodtype.get, span.methodtype.head, span.methodtype.options {
	background-color: #1C8CBC;
	border-color: #8EC6DE;
}

span.methodtype.post {
	background-color: #1CBC1C;
	border-color: #8EDE8E;
}

span.methodtype.put {
	background-color: #BCBC1C;
	border-color: #DEDE8E;
}

span.methodtype.patch {
	background-color: #BC8C1C;
	border-color: #DEC68E;
}

span.methodtype.delete {
	background-color: #BC1C1C;
	border-color: #DE8E8E;
}

span.shortdescription {
	display: inline-block;
	max-width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	margin-left:15px;
}

div a.collapse, div.resource a.collapse:visited {
	color: #535353;
	font-style: oblique;
	text-decoration:none;
	margin-left: 10px;
	vertical-align:middle;
}

div a.collapse:hover, div.resource a.collapse:active {
	text-decoration: underline;
}

li.method.get span.shortdescription {
	color:#535353;
}

li.method.get a, li.method.get a:visited {
	color:white;
	text-decoration:none;
	vertical-align:middle;
	font-style: oblique;
}

li.method.get a:hover, li.method.get a:active {
	text-decoration:underline;
	color: white;
}

table {
	border-collapse:collapse;
	vertical-align:middle;
	text-align:left;
}
tr:nth-child(even) {
	background-color:rgba(255,255,255,0.1);
}
tr:nth-child(odd) {
	/*background-color:rgba(255,255,255,0.05);*/
}
td {
	padding:5px;
	padding-right:20px;
}
td.returncode, td.paramname, td.paramtype {
	text-align:center;
}
tr {
	margin-top:8px;
	margin-bottom:8px;
	padding-top:20px;
}

hr.section {
	border:0px;
	height:2px;
	background-color:#E2E2E2;
	margin-top:20px;
	margin-bottom:15px;
}