* {
	border:0px;
	margin:0px;
	padding:0px;
	font:12pt 'Verdana',Geneva,sans-serif;
	color:#202020;
}

body {
	margin:8px;
}

div#report {
	margin:0px 5px 5px 5px;
}

h1,h2,h3,h4,h5,h6,h7 {
	font:'Georgia',serif;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}
h1 {
	font-size:24pt;
	margin-top:10px;
}

h2 {
	font-size:20pt;
	margin-top:40px;
}

h3 {
	font-size:16pt;
	margin-top:20px;
}

h4 {
	font-size:14pt;
	margin-top:15px;
	margin-bottom:5px;
}

p,div {
	margin-left:5px;
	margin-top:3px;
	margin-bottom:3px;
}

p.basepath, p.mediatype, p.path {
	//font-weight:bold;
	margin-top:0px;
}

span.basepath, span.path, span.mediatype {
	font:12pt 'Consolas','Lucida Console',monospace;
	font-weight:normal;
	background-color:#F5F5F5;
}

span.mediatype {
	margin-left:10px;
}

table {
	margin-top:5px;
	margin-bottom:5px;
	border-collapse:collapse;
	vertical-align:middle;
	text-align:left;
}
tr:nth-child(even) {
	background-color:#F5F5F5;
}
tr:nth-child(odd) {
	background-color:#FCFCFC;
}
td {
	padding:5px;
	padding-right:20px;
}
td.returncode, td.returnstatus,td.paramname, td.paramtype {
	text-align:center;
}
tr {
	margin-top:8px;
	margin-bottom:8px;
	padding-top:20px;
}
tr.heading {
	background-color:#F5F5F5;
	border-top: 2px solid #A0A0A0;
	border-bottom:1px solid #A0A0A0;
}
tr.heading th {
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
}
tr:last-child {
	border-bottom:2px solid #A0A0A0;
}


hr {
	margin-top:5px;
	height:2px;
	background-color:#F5F5F5;
	border-bottom:1px solid #FCFCFC;
}